* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
width: 1400px;
margin: 0 auto;
}

body {
    background-color: black;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: fixed;
    top: 0;
    width: 1400px;
}

.a-box ul {
    display: flex;
    list-style: none;
    gap: 40px;

}

.a-box ul li a {
    color: #E3E4E6;
    text-decoration: none;
    transition: all 0,3s ease;
    position: relative;
}

.a-box ul li a:hover {
    color: #BC3CD8;
    border-bottom: 1px solid white;
}

.text-box p {
    color: grey;
    font-size:56px ;
}

.ui {
    color: white;
}

.int {
color: white;
display: flex;
justify-content: center;
}

.text-box {
    margin-top: 350px;
}

.im {
    display: flex;
    justify-content: center;
}

.arr-box {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.second-section p{
color: grey;
font-size: 40px;
}

.second-section strong {
    color: white;
}

.second-section {
    margin-top: 200px;
}

.icon-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.selec {
    font-size: 40px;
    color: grey;
}

.thirst-section strong {
    color: white;
}

.thirst-section {
    margin-top: 200px;
}

.estate-box {
    display: grid;
    grid-template-columns: 800px 770px;
    grid-template-rows: 490px;
    margin-top: 100px;
}

.thirst-section h4 {
    color: white;
    font-size: 18px;
}

.thirst-section p {
    color: grey;
}

.p {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.p strong {
    color: white;
}

.arr-box button {
    background-color: black;
    border: none;
}

.real-box button {
background-color: black;
width: 163px;
height: 40px;
border-radius: 100px ;
border: 1px solid grey ;
color: white;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
}

.real-box button img {
    margin-left: 10px;
}

.real-box {
    margin-top: 175px;
}

.decor-box {
    display: flex;
    justify-content: space-between;
}

.thirst-section button {
    margin-top: 40px;
    color: white;
}

.plant-box button {
    width: 189px;
    height: 40px;
    border-radius: 100px ;
    border: 1px solid #E3E4E6;
    background-color: #BC3CD8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.decor-box {
    margin-top: 150px;
}

.plant-box {
    margin-top: 175px;
}

.real-box button:hover {
    background-color: white;
    color: black;
}

.plant-box button:hover {
    background-color: #440852;
}

.smart-box {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.home-box button {
    background-color: black;
width: 163px;
height: 40px;
border-radius: 100px ;
border: 1px solid grey ;
color: white;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
gap: 10px;
}

.home-box button:hover {
    background-color: white;
    color: black; 
}

.home-box {
    margin-top: 175px;
}

.dez-box {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.log-box button { 
        background-color: black;
    width: 163px;
    height: 40px;
    border-radius: 100px ;
    border: 1px solid grey ;
    color: white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 10px; 
}

.log-box button:hover {
    background-color: white;
    color: black; 
}

.log-box {
    margin-top: 175px;
}

.four-section {
    margin-top: 250px;
}

.about-box {
    display: flex;
    justify-content: space-between;
}

.four-section h3 {
color: white;
font-size: 24px;
}

.q {
    color: grey;
    font-size: 35px;
}

.q strong {
    color: white;
}

.gitara {
   display: flex;
   align-items: center;
   margin-left: 160px;
}

.im-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}

.bit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h {
    color: grey;
    font-size: 56px;
}

footer {
    margin-top: 250px;
}

.h strong {
    color: white;
}

.get-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-box p {
    margin-top: 20px;
    color: grey;
}

.social-box {
    display: flex;
    gap: 60px;
    margin-top: 50px;
}

.get-box p strong {
    color: white;
}

.p2 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.butt-box button {
    background-color: black;
    width: 163px;
    height: 40px;
    border-radius: 100px ;
    border: 1px solid grey ;
    color: white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 10px; 
    margin-top: 200px;
    margin-bottom: -50px;
}

.butt-box button img {
    width: 20px;
    height: 20px;
}

.butt-box a {
    text-decoration: none;
}

.butt-box button:hover {
    background-color: white;
    color: black; 
}

body {
    scroll-behavior: smooth;
}